$primarycolors: (
  black: (
    base: #000,
  ),
  gray: (
    base: #1f2833,
    tint1: #c5c6c7,
    tint2: rgba(#000, .12)
  ),
  white: (
    base: #fff
  ),
  blue: (
    shade1: #5da3d1,
    base: #006999
  )
);